.one03{
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}
.one04{
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
}
.two02{
    margin-left: 450px;
    width: 600px;
   
}
.two03{
    background-color: transparent;
    border-color: transparent;
}
.two02 button{
    /* margin-left: 400px; */
    background-color: #fc5095;
    width: 200px;
    padding: 13px;
    color: white;
    border-radius: 9px;
}
.hh00 li{
    display: inline;
    font-size: 14px;
}
.heading03{
    font-size: 14px;
}
.heading05 img{
    width: 30px;
}
.heading05{
    font-size: 25px;
    
    
}
.shop01{
    width: 170px;
    padding: 7px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: #5433EB;
    color: white;
    border-color: #5433EB;
}
.rr9{
    color: #686ef2;
    font-size: 20px;
   

}
.one01{
    overflow: hidden;
    background-color: rgb(226, 239, 244);
}
.buttom01{
    background-color: rgb(226, 239, 244);
}
